@model FourPlayCharacterCreator.Models.Character

@{
    ViewData["Title"] = "DistributeDice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribute Dice</h1>
<hr />

<form asp-action="DistributeDice">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row g-3">
        <div class="col-auto">
            <label asp-for="RemainingNuggets" class="control-label align-middle"></label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="RemainingNuggets" class="form-control" readonly />
            <span asp-validation-for="RemainingNuggets" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row g-3">
        <div class="col-auto">
            <label asp-for="HeadNuggets" class="control-label align-middle"></label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="HeadNuggets" class="form-control" readonly />
            <span asp-validation-for="HeadNuggets" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-info mb-3" onclick="addNugget('Head')">+</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger mb-3" onclick="removeNugget('Head')">-</button>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-auto">
            <label asp-for="TorsoNuggets" class="control-label align-middle"></label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="TorsoNuggets" class="form-control" readonly />
            <span asp-validation-for="TorsoNuggets" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-info mb-3" onclick="addNugget('Torso')">+</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger mb-3" onclick="removeNugget('Torso')">-</button>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-auto">
            <label asp-for="LimbNuggets" class="control-label align-middle"></label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="LimbNuggets" class="form-control" readonly />
            <span asp-validation-for="LimbNuggets" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-info mb-3" onclick="addNugget('Limbs')">+</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger mb-3" onclick="removeNugget('Limbs')">-</button>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">

    var RemainingNuggets = document.getElementById("RemainingNuggets");
    var HeadNuggets = document.getElementById("HeadNuggets");
    var TorsoNuggets = document.getElementById("TorsoNuggets");
    var LimbNuggets = document.getElementById("LimbNuggets");

    function addNugget(bodyType)
    {
        if(bodyType == "Head")
        {
            //before we do anything, check to see if we have points left
            if (RemainingNuggets.value > 0)
            {
                //we added a nugget so reduce the count
                RemainingNuggets.value--;
                HeadNuggets.value++;
            }
        }
        else if (bodyType == "Torso")
        {
            //before we do anything, check to see if we have points left
            if (RemainingNuggets.value > 0)
            {
                //we added a nugget so reduce the count
                RemainingNuggets.value--;
                TorsoNuggets.value++;
            }
        }
        else if(bodyType == "Limbs")
        {
            //before we do anything, check to see if we have points left
            if (RemainingNuggets.value > 0)
            {
                //we added a nugget so reduce the count
                RemainingNuggets.value--;
                LimbNuggets.value++;
            }
        }
    }

    function removeNugget(bodyType)
    {
        if(bodyType == "Head")
        {
            //Make sure we don't go below 2 for the body part
            if (RemainingNuggets.value < 6 && HeadNuggets.value > 2)
            {
                //we added a nugget so reduce the count
                RemainingNuggets.value++;
                HeadNuggets.value--;
            }
        }
        else if(bodyType == "Torso")
        {
            //Make sure we don't go below 2 for the body part
            if (RemainingNuggets.value < 6 && TorsoNuggets.value > 2)
            {
                //we added a nugget so reduce the count
                RemainingNuggets.value++;
                TorsoNuggets.value--;
            }
        }
        else if(bodyType == "Limbs")
        {
            //Make sure we don't go below 2 for the body part
            if (RemainingNuggets.value < 6 && LimbNuggets.value > 2)
            {
                //we added a nugget so reduce the count
                RemainingNuggets.value++;
                LimbNuggets.value--;
            }
        }
    }
</script>
