@model FourPlayCharacterCreator.Models.Character

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Step 1) Select a Proclivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Home" method="post">
            <div class="form-group">
                <select asp-for=Proclivity name="Proclivity" asp-items="Html.GetEnumSelectList<Proclivity>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
